@page "/"
@inject IJSRuntime JSRuntime
@inject ChannelManagerService ChannelManager
@using AndyTV.Data.Models
@using AndyTV.Web.Services
@using AndyTV.Web.Components
@implements IAsyncDisposable

<PageTitle>AndyTV Web</PageTitle>

<div class="container py-4">
    <h1 class="mb-4">AndyTV Web Player</h1>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered w-100" controls preload="auto"></video>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(_currentChannel))
    {
        <div class="text-center my-2">
            <strong>Now Playing:</strong> @_currentChannel
        </div>
    }

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-10">
            <PlaylistManager Manager="ChannelManager" />
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-12 col-lg-10">
            <ChannelList Manager="ChannelManager" CurrentUrl="@_currentUrl" OnChannelSelected="PlayChannel" />
        </div>
    </div>
</div>

@code {
    private string _currentChannel = "";
    private string _currentUrl = "";
    private bool _playerInitialized;

    protected override async Task OnInitializedAsync()
    {
        ChannelManager.OnStateChanged += StateHasChanged;
        ChannelManager.LoadPlaylists();
        
        if (ChannelManager.Playlists.Any())
        {
            await ChannelManager.RefreshChannelsAsync();
        }
    }

    private async Task PlayChannel(Channel channel)
    {
        _currentChannel = channel.DisplayName;
        _currentUrl = channel.Url;

        if (!_playerInitialized)
        {
            await JSRuntime.InvokeVoidAsync("window.videoPlayer.init", "my-video", channel.Url);
            _playerInitialized = true;
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("window.videoPlayer.changeSource", channel.Url);
        }
    }

    public async ValueTask DisposeAsync()
    {
        ChannelManager.OnStateChanged -= StateHasChanged;
        
        if (_playerInitialized)
        {
            await JSRuntime.InvokeVoidAsync("window.videoPlayer.dispose");
        }
    }
}