name: nuget-check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Midnight UTC nightly

jobs:
  nuget-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Run NuGet version check
        run: >
          dotnet run .github/scripts/NugetCheck.cs --ignore "Project=AndyTV.csproj&Package=Velopack"
