name: scan

on:
  push:

jobs:
  analyze:
    runs-on: [self-hosted, ajwin]
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET (local install)
        uses: actions/setup-dotnet@v5
        env:
          DOTNET_INSTALL_DIR: ${{ github.workspace }}\.dotnet
        with:
          dotnet-version: '10.0.x'

      - name: Add local dotnet to PATH
        shell: powershell
        run: |
          echo "${{ github.workspace }}\.dotnet" >> $env:GITHUB_PATH
          echo "DOTNET_ROOT=${{ github.workspace }}\.dotnet" >> $env:GITHUB_ENV

      - name: Install Roslynator CLI
        run: dotnet tool install roslynator.dotnet.cli --version 0.11.0 --tool-path tools

      - name: Download Roslynator Analyzers
        shell: powershell
        run: |
          $url = "https://www.nuget.org/api/v2/package/Roslynator.Analyzers"
          Invoke-WebRequest $url -OutFile package.zip
          Expand-Archive package.zip -DestinationPath analyzers/Roslynator.Analyzers
          Remove-Item package.zip

      - name: Analyze
        run: ./tools/roslynator analyze AndyTV.slnx --analyzer-assemblies "analyzers/Roslynator.Analyzers/analyzers" --ignore-compiler-diagnostics

      - name: Find unused private code
        continue-on-error: true
        run: >
          ./tools/roslynator find-symbol AndyTV.slnx
          --symbol-kind type-or-member
          --unused
          --visibility private
          --without-attribute System.ObsoleteAttribute
